:root {
    --yellow: #FFC60B;
    --green: #85AE85;
    --light-blue: #0A95FF;
    --dark-blue: #230AFF;
    --purple: #7766FF;
    --lilac: #AAA0FF;
    --dark-orange: #df880a;
    --chocolate: #c16a08;
    --khaki: #ffde73;
}

body {
    box-sizing: border-box;
    min-height: 715px;
    /* height: 100vh; */
    margin: 0;
    position: relative;
}

footer {
    box-sizing: border-box;
    background-color: var(--khaki);
    width: 100vw;
    height: 56px;
    padding-top: 15px;
    padding-bottom: 17px;
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: 45px;
}

h1 {
    margin: 0;
    font-size: 45px;
    font-family: 'Potta One', cursive;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-family: 'Potta One', cursive;
}

header {
    box-sizing: border-box;
    background-color: var(--khaki);
    margin-bottom: 45px;
    height: 50px;
    padding-top: 5px;
}

html {
    background-image: url("../resources/background--honeyComb.png");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Yusei Magic', sans-serif;
    overflow-x: hidden;
}

nav {
    width: 380px;
    margin: 0 auto;
    position: relative;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul > li {
    flex: 1;
}

.attribution {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.attribution:hover {
    color: blueviolet;
}

.bee-left,
.contact-bee-left,
.menu-bee-left {
    top: 5px;
    left: 30px;
}

.bee-right,
.contact-bee-right,
.menu-bee-right {
    transform: rotate(-240deg);
    bottom: 1px;
    right: 37px;
}

.comb-inner {
    background-color: var(--yellow);
    box-sizing: border-box;
    width: 450px;
    height: 225px;
    padding: 20px;
    clip-path: polygon(0 20%,
            10% 0,
            90% 0,
            100% 20%,
            100% 80%,
            90% 100%,
            10% 100%,
            0 80%)
}

.comb-outer {
    margin: 0 auto;
    width: 450px;
    height: 225px;
    padding: 20px;
    clip-path: polygon(0 21%,
            11% 0,
            89% 0,
            100% 21%,
            100% 79%,
            89% 100%,
            11% 100%,
            0 79%)
}

.contact-container,
.menu-container,
.sub-container {
    padding: 10px !important;
    clip-path: polygon(0 33.3%,
            6% 0,
            94% 0,
            100% 33.3%,
            100% 66.6%,
            94% 100%,
            6% 100%,
            0 66.6%) !important;
}

.contact-heading,
.menu-heading,
.sub-heading {
    clip-path: polygon(0 33.3%,
            5% 0,
            95% 0,
            100% 33.3%,
            100% 66.6%,
            95% 100%,
            5% 100%,
            0 66.6%) !important;
}

.contact-container,
.contact-heading {
    height: 120px !important;
    width: 300px !important;
}

.contact-heading > h1 {
    padding-top: 28px;
}

.contact-outer > .contact-inner,
.content > .contact-outer {
    position: relative;
    height: 175px;
    margin-bottom: 30px;
}

.contact-inner > p {
    margin: 0;
    padding-left: 50px;
}

.contact-pic {
    height: 100px;
    width: 150px;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.content {
    position: relative;
    background-color: var(--khaki);
    border-radius: 30px;
    max-width: 810px;
    padding: 55px;
    margin: 0 auto;
}

.content > * {
    background-color: var(--chocolate);
}

.cover {
    box-sizing: border-box;
    position: absolute;
    background-color: rgb(236, 164, 59);
    height: 45px;
    width: 98px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding-top: 8px;
}

.customer {
    margin-left: 40px;
    font-weight: bold;
    font-size: 1.2em;
}

.decorations {
    background-color: transparent !important;
    width: 50px;
    position: absolute;
    z-index: 1;
}

.dripping {
    height: 45px;
    width: 98px;
    position: absolute;
    bottom: -44px;
    left: 1px;
}

.heading {
    background-color: var(--yellow);
    box-sizing: border-box;
    width: 710px;
    height: 60px;
    text-align: center;
    clip-path: polygon(0 33.3%,
            5% 0,
            95% 0,
            100% 33.3%,
            100% 66.6%,
            95% 100%,
            5% 100%,
            0 66.6%)
}

.heading-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 710px;
    height: 60px;
    padding: 10px;
    clip-path: polygon(0 33.3%,
            6% 0,
            94% 0,
            100% 33.3%,
            100% 66.6%,
            94% 100%,
            6% 100%,
            0 66.6%)
}

.hidden {
    display: none;
}

.hive {
    width: 10%;
    top: 185px;
    left: 45%;
}

.info-hours-inner,
.info-hours-outer {
    height: 250px;
}

.info-hours-outer,
.info-location-outer {
    margin-top: 30px;
}

.info-hours-inner > h3,
.info-location-inner > h3 {
    padding-left: 42px;
    margin: 0;
    font-size: 25px;
}

.info-hours-inner > p,
.info-location-inner > p {
    text-align: center;
    margin: 0;
}

.info-location-inner,
.info-location-outer {
    height: 100px !important;
}

.item-name {
    font-size: 25px;
}

.item-pic {
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 45px;
    border: 2px solid var(--dark-orange);
}

.item-price {
    font-size: 20px;
    font-weight: bold;
}

.menu-inner > h3 {
    padding-left: 20px;
}

.menu-inner > p {
    padding-left: 50px;
}

.menu-outer > .menu-inner,
.content > .menu-outer {
    position: relative;
    height: 480px;
    margin-bottom: 30px;
}

.sub-container {
    margin-bottom: 30px;
    margin-top: 100px;
}

.sub-container-hive {
    top: 25px;
    right: 7px;
}

.sub-container,
.sub-heading {
    width: 350px !important;
    height: 60px !important;
}

.sub-heading > h2 {
    font-size: 35px;
}

.tab-list {
    height: 45px;
    padding-right: 20px;
}

.tab-list > li {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    padding-top: 8px;
}

.tab-list > li:hover {
    cursor: pointer;
}

#covercontact {
    top: 1px;
    left: 261px;
}

#coverhome {
    top: 1px;
    left: 21px;
}

#covermenu {
    top: 1px;
    left: 141px;
}


@media (max-width: 1130px) {
    footer {
        background-color: transparent;
    }

    .attribution {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .content {
        padding: 25px;
    }

    .icons {
        bottom: 20px;
    }

    .icons2 {
        bottom: 35px;
    }
}

@media (max-width: 882px) {
    .content {
        padding: 25px 0px;
    }
}

@media (max-width: 836px) {
    .attribution {
        right: 20px;
    }

    .bee-left {
        top: 179px;
        left: 48px;
        transform: rotate(-170deg);
    }

    .bee-right {
        transform: rotate(-89deg);
        bottom: 140px;
        right: 19px;
    }

    .comb-outer {
        margin: 20px 20px;
    }

    .content {
        width: fit-content;
    }

    .heading {
        width: 275px;
        height: 200px;
        clip-path: polygon(0 33.3%,
                20% 0,
                80% 0,
                100% 33.3%,
                100% 66.6%,
                80% 100%,
                20% 100%,
                0 66.6%)
    }

    .heading-container {
        margin-bottom: 30px;
        width: 275px;
        height: 200px;
        padding: 20px;
        clip-path: polygon(0 33.3%,
                21% 0,
                79% 0,
                100% 33.3%,
                100% 66.6%,
                79% 100%,
                21% 100%,
                0 66.6%)
    }

    .hive {
        width: 15%;
        top: 240px;
        left: 5%;
    }

    .menu-bee-left {
        top: 15px;
        left: 29px;
    }

    .menu-bee-right {
        transform: rotate(-240deg);
        bottom: 14px;
        right: 26px;
    }

    .menu-container,
    .menu-heading {
        height: 80px;
    }

    .menu-heading > h1 {
        padding-top: 5px;
    }
}

@media (max-width: 625px) {

    .comb-inner,
    .comb-outer {
        width: 300px;
        height: 275px;
    }

    .contact-inner > p {
        padding-left: 10px;
    }

    .contact-pic {
        height: 80px;
        width: 120px;
        top: 10px;
    }

    .info-location-inner {
        padding: 20px 0;
    }

    .item-pic {
        height: 150px;
        width: 150px;
        right: calc(50% - 75px);
    }

    .menu-inner {
        text-align: center;
    }

    .menu-inner > * {
        padding: 0 !important;
    }

    .menu-inner,
    .menu-outer {
        height: 450px;
    }
}

@media (max-width: 475px) {
    .content {
        width: 100%;
        border-radius: 0;
    }

    .comb-outer {
        margin: 20px auto;
    }
}

@media (max-width: 375px) {
    li > a {
        line-height: 14px;
    }

    nav {
        width: 320px;
    }

    .attribution {
        left: 0%;
    }

    .comb-inner {
        width: 275px;
        height: 275px;
    }

    .comb-outer {
        width: 275px;
        height: 275px;
    }

    .contact-inner > p {
        padding-left: 0px;
    }

    .hive {
        left: 6%;
    }

    .icons {
        bottom: 35px;
    }

    .icons2 {
        bottom: 55px;
    }

    .tab-list {
        padding-right: 5px;
    }

    .tab-list > li {
        margin-left: 5px;
    }

    #covercontact {
        top: 1px;
        left: 216px;
    }

    #coverhome {
        top: 1px;
        left: 6px;
    }

    #covermenu {
        top: 1px;
        left: 111px;
    }
}

/*
     FILE ARCHIVED ON 06:10:38 Oct 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:18:42 Jul 22, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.937
  load_resource: 3650.671
  PetaboxLoader3.resolve: 3518.047
  PetaboxLoader3.datanode: 81.955 (2)
  loaddict: 100.614
*/